# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Keep development junk out of our ZIP files
.claude/ export-ignore
.github/ export-ignore
images/ export-ignore
scripts/ export-ignore
test/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.markdownlint.json export-ignore
.nvmrc export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.stylelintrc.json export-ignore
CLAUDE.md export-ignore
eslint.config.js export-ignore
package-lock.json export-ignore
package.json export-ignore
sonar-project.properties export-ignore