.body-dock {
  height: auto;
  min-height: 100px;
}

.gwo-win-conditions {
  overflow: hidden;
  margin-bottom: -13px;
}

.gwo-game-modifiers {
  margin: 0 -40px 0 0;
  align-items: center;
}

.gwo-game-modifiers-text {
  margin-top: -6px;
}
